<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Using CSS to style an HTML Form</h3>

<div>
  <form action="{% url "studentEdit"  %}" method= "POST">
    {% csrf_token %}

    {% for i in stu %}
    <label for="fname">ID</label>
    <input type="text" id="student_id" value="{{i.id}}" name="student_id" placeholder="Your name..">

    <label for="fname">Name</label>
    <input type="text" id="name" value="{{i.Student_Name}}" name="name" placeholder="Your name..">

    <label for="lname">Class</label>
    <input type="text" id="class" value="{{i.Student_Class}}" name="class" placeholder="Your class..">

    <label for="lname">Roll</label>
    <input type="text" id="roll" value="{{i.Student_Roll}}" name="roll" placeholder="Your roll..">

    <label for="lname">Blood Group</label>
    <input type="text" id="bgroup" value="{{i.Student_Bgroup}}" name="bgroup" placeholder="Your Blood Group ..">
  
    <input type="submit" value="Update">
    {% endfor %}
  </form>
</div>

</body>
</html>


